<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.nlbp.core.job.dao.NlbpSysBusinessJobInfoDao">
    
	<sql id="nlbpSysBusinessJobInfoColumns">
		a.id AS "id",
		a.service_name AS "serviceName",
		a.method_name AS "methodName",
		a.cron_expression AS "cronExpression",
		a.category AS "category",
		a.ips AS "ips",
		a.status AS "status",
		a.remark AS "remark",
		a.creator AS "creator",
		a.creator_id AS "creatorId",
		a.create_dt AS "createDt",
		a.last_updator AS "lastUpdator",
		a.last_updator_id AS "lastUpdatorId",
		a.last_update_dt AS "lastUpdateDt"
	</sql>
	
	<sql id="nlbpSysBusinessJobInfoJoins">
	</sql>
    
	<select id="selectByPrimaryKey" resultType="com.newhope.nlbp.core.job.dao.NlbpSysBusinessJobInfoModel">
		SELECT 
			<include refid="nlbpSysBusinessJobInfoColumns"/>
		FROM nlbp_sys_business_job_info a
		<include refid="nlbpSysBusinessJobInfoJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.newhope.nlbp.core.job.dao.NlbpSysBusinessJobInfoModel">
		SELECT 
			<include refid="nlbpSysBusinessJobInfoColumns"/>
		FROM nlbp_sys_business_job_info a
		<include refid="nlbpSysBusinessJobInfoJoins"/>
		<where>
			<if test="serviceName != null and serviceName != ''">
				AND a.service_name = #{serviceName}
			</if>
			<if test="methodName != null and methodName != ''">
				AND a.method_name = #{methodName}
			</if>
			<if test="cronExpression != null and cronExpression != ''">
				AND a.cron_expression = #{cronExpression}
			</if>
			<if test="status != null and status != ''">
				AND a.status = #{status}
			</if>
			<if test="category != null and category != ''">
				AND a.category = #{category}
			</if>
			<if test="creator != null and creator != ''">
				AND a.creator = #{creator}
			</if>
			<if test="creatorId != null and creatorId != ''">
				AND a.creator_id = #{creatorId}
			</if>
			<if test="createDt != null and createDt != ''">
				AND a.create_dt = #{createDt}
			</if>
			<if test="lastUpdator != null and lastUpdator != ''">
				AND a.last_updator = #{lastUpdator}
			</if>
			<if test="lastUpdatorId != null and lastUpdatorId != ''">
				AND a.last_updator_id = #{lastUpdatorId}
			</if>
			<if test="lastUpdateDt != null and lastUpdateDt != ''">
				AND a.last_update_dt = #{lastUpdateDt}
			</if>
		</where>
		<!--
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		-->
	</select>
	
	<select id="findAllList" resultType="com.newhope.nlbp.core.job.dao.NlbpSysBusinessJobInfoModel">
		SELECT 
			<include refid="nlbpSysBusinessJobInfoColumns"/>
		FROM nlbp_sys_business_job_info a
		<include refid="nlbpSysBusinessJobInfoJoins"/>
		<where>
			
		</where>
		<!--		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		-->
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
		INSERT INTO nlbp_sys_business_job_info(
			id,
			service_name,
			method_name,
			cron_expression,
			status,
			category,
			ips,
			remark,
			creator,
			creator_id,
			create_dt,
			last_updator,
			last_updator_id,
			last_update_dt
		) VALUES (
			#{id},
			#{serviceName},
			#{methodName},
			#{cronExpression},
			#{status},
			#{category},
			#{ips},
			#{remark},
			#{creator},
			#{creatorId},
			#{createDt},
			#{lastUpdator},
			#{lastUpdatorId},
			#{lastUpdateDt}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.newhope.nlbp.core.job.dao.NlbpSysBusinessJobInfoModel">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
		INSERT INTO nlbp_sys_business_job_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">				
				id,
			</if>
			<if test="serviceName != null">				
				service_name,
			</if>
			<if test="methodName != null">				
				method_name,
			</if>
			<if test="cronExpression != null">				
				cron_expression,
			</if>
			<if test="status != null">				
				status,
			</if>
			
			<if test="category != null">				
				category,
			</if>
			<if test="ips != null">				
				ips,
			</if>
			<if test="remark != null">				
				remark,
			</if>
			<if test="creator != null">				
				creator,
			</if>
			<if test="creatorId != null">				
				creator_id,
			</if>
			<if test="createDt != null">				
				create_dt,
			</if>
			<if test="lastUpdator != null">				
				last_updator,
			</if>
			<if test="lastUpdatorId != null">				
				last_updator_id,
			</if>
			<if test="lastUpdateDt != null">				
				last_update_dt
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="id != null">
			#{id},
		</if>
		<if test="serviceName != null">
			#{serviceName},
		</if>
		<if test="methodName != null">
			#{methodName},
		</if>
		<if test="cronExpression != null">
			#{cronExpression},
		</if>
		<if test="status != null">
			#{status},
		</if>
		
		<if test="category != null">
			#{category},
		</if>
		<if test="ips != null">
			#{ips},
		</if>
		<if test="remark != null">
			#{remark},
		</if>
		<if test="creator != null">
			#{creator},
		</if>
		<if test="creatorId != null">
			#{creatorId},
		</if>
		<if test="createDt != null">
			#{createDt},
		</if>
		<if test="lastUpdator != null">
			#{lastUpdator},
		</if>
		<if test="lastUpdatorId != null">
			#{lastUpdatorId},
		</if>
		<if test="lastUpdateDt != null">
			#{lastUpdateDt}
	</if>
		</trim>
	</insert>
	
	
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO nlbp_sys_business_job_info(
			id,
			service_name,
			method_name,
			cron_expression,
			status,
			category,
			ips,
			remark,
			creator,
			creator_id,
			create_dt,
			last_updator,
			last_updator_id,
			last_update_dt
		) VALUES 
		<foreach collection="list" item="item" index="index" separator="," >
		(
			#{item.id},
			#{item.serviceName},
			#{item.methodName},
			#{item.cronExpression},
			#{item.status},
			
			#{item.category},
			#{item.ips},
			#{item.remark},
			
			#{item.creator},
			#{item.creatorId},
			#{item.createDt},
			#{item.lastUpdator},
			#{item.lastUpdatorId},
			#{item.lastUpdateDt}
		)
		</foreach>
	</insert>
	
	<update id="updateByPrimaryKey">
		UPDATE nlbp_sys_business_job_info SET 	
			service_name = #{serviceName},
			method_name = #{methodName},
			cron_expression = #{cronExpression},
			status = #{status},
			
			category = #{category},
			ips = #{ips},
			remark = #{remark},
			
			creator = #{creator},
			creator_id = #{creatorId},
			create_dt = #{createDt},
			last_updator = #{lastUpdator},
			last_updator_id = #{lastUpdatorId},
			last_update_dt = #{lastUpdateDt}
		WHERE id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.newhope.nlbp.core.job.dao.NlbpSysBusinessJobInfoModel">
		UPDATE nlbp_sys_business_job_info
		<set>	
		<if test="serviceName != null">					
			service_name = #{serviceName},
		</if>	
		<if test="methodName != null">					
			method_name = #{methodName},
		</if>	
		<if test="cronExpression != null">					
			cron_expression = #{cronExpression},
		</if>	
		<if test="status != null">					
			status = #{status},
		</if>	
		
		<if test="category != null">					
			category = #{category},
		</if>
		<if test="ips != null">					
			ips = #{ips},
		</if>
		<if test="remark != null">					
			remark = #{remark},
		</if>
		
		<if test="creator != null">					
			creator = #{creator},
		</if>	
		<if test="creatorId != null">					
			creator_id = #{creatorId},
		</if>	
		<if test="createDt != null">					
			create_dt = #{createDt},
		</if>	
		<if test="lastUpdator != null">					
			last_updator = #{lastUpdator},
		</if>	
		<if test="lastUpdatorId != null">					
			last_updator_id = #{lastUpdatorId},
		</if>	
		<if test="lastUpdateDt != null">					
			last_update_dt = #{lastUpdateDt}
	</if>
		</set>
		WHERE id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="deleteByPrimaryKey">
		DELETE FROM nlbp_sys_business_job_info
		WHERE id = #{id,jdbcType=BIGINT}
	</update>
	
</mapper>