<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.nlbp.core.apigate.dao.NlbpSysOrderProcessDao">
	<resultMap id="BaseResultMap"
		type="com.newhope.nlbp.core.apigate.bean.NlbpSysOrderProcessModel">
		<id column="process_Id" jdbcType="BIGINT" property="processId" />
		<result column="Interface_Type" jdbcType="VARCHAR" property="interfaceType" />
		<result column="Doc_Num" jdbcType="VARCHAR" property="docNum" />
		<result column="Event_Id" jdbcType="VARCHAR" property="eventId" />
		<result column="Pb_Code" jdbcType="VARCHAR" property="pbCode" />
		<result column="EBS_Org_Code" jdbcType="VARCHAR" property="ebsOrgCode" />
		<result column="Farm_Code" jdbcType="VARCHAR" property="farmCode" />
		<result column="Biz_Date" jdbcType="VARCHAR" property="bizDate" />
		<result column="Nlbp_Order_No" jdbcType="VARCHAR" property="nlbpOrderNo" />
		<result column="Transaction_Type" jdbcType="VARCHAR" property="transactionType" />
		<result column="Primary_Uom_Qty" jdbcType="VARCHAR" property="primaryUomQty" />
		<result column="Second_Uom_Qty" jdbcType="VARCHAR" property="secondUomQty" />
		<result column="order_Type" jdbcType="VARCHAR" property="orderType" />
		<result column="EBS_Order_No" jdbcType="VARCHAR" property="ebsOrderNo" />
		<result column="Room_Code" jdbcType="VARCHAR" property="roomCode" />
		<result column="Ear_Number" jdbcType="VARCHAR" property="earNumber" />
		<result column="Sub_Inventroy_Code" jdbcType="VARCHAR"
			property="subInventroyCode" />
		<result column="Inventory_Item_Id" jdbcType="VARCHAR" property="inventoryItemId" />
		<result column="Conceive_Status" jdbcType="VARCHAR" property="conceiveStatus" />
		<result column="Batch_Number" jdbcType="VARCHAR" property="batchNumber" />
		<result column="Bird_Check" jdbcType="VARCHAR" property="birdCheck" />
		<result column="Breed_Date" jdbcType="VARCHAR" property="breedDate" />
		<result column="Uper_Stage" jdbcType="VARCHAR" property="uperStage" />
		<result column="Total_Record_Count" jdbcType="BIGINT" property="totalRecordCount" />
		<result column="Handler_Status" jdbcType="VARCHAR" property="handlerStatus" />
		<result column="Handler_Count" jdbcType="BIGINT" property="handlerCount" />
		<result column="Process_Code" jdbcType="VARCHAR" property="processCode" />
		<result column="Process_Message" jdbcType="VARCHAR" property="processMessage" />
		
		<result column="price" jdbcType="VARCHAR" property="price" />
		<result column="org_code" jdbcType="VARCHAR" property="orgCode" />
		<result column="nlbp_purch_order" jdbcType="VARCHAR" property="nlbpPurchOrder" />
		<result column="ebs_purch_order" jdbcType="VARCHAR" property="ebsPurchOrder" />
		
		<result column="Expand1" jdbcType="VARCHAR" property="expand1" />
		<result column="Expand2" jdbcType="VARCHAR" property="expand2" />
		<result column="Expand3" jdbcType="VARCHAR" property="expand3" />
		<result column="Expand4" jdbcType="VARCHAR" property="expand4" />
		<result column="Expand5" jdbcType="VARCHAR" property="expand5" />
		<result column="Expand6" jdbcType="VARCHAR" property="expand6" />
		<result column="Expand7" jdbcType="VARCHAR" property="expand7" />
		<result column="Expand8" jdbcType="VARCHAR" property="expand8" />
		<result column="Expand9" jdbcType="VARCHAR" property="expand9" />
		<result column="Expand10" jdbcType="VARCHAR" property="expand10" />
		<result column="attribute1" jdbcType="VARCHAR" property="attribute1" />
		<result column="attribute2" jdbcType="VARCHAR" property="attribute2" />
		<result column="attribute3" jdbcType="VARCHAR" property="attribute3" />
		<result column="attribute4" jdbcType="VARCHAR" property="attribute4" />
		<result column="attribute5" jdbcType="VARCHAR" property="attribute5" />
		<result column="created_by" jdbcType="BIGINT" property="createdBy" />
		<result column="Last_Update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
		<result column="last_updated_by" jdbcType="BIGINT" property="lastUpdatedBy" />
		<result column="creation_date" jdbcType="TIMESTAMP" property="creationDate" />
		<result column="last_update_date" jdbcType="TIMESTAMP"
			property="lastUpdateDate" />
		<result column="start_date" jdbcType="DATE" property="startDate" />
		<result column="end_date" jdbcType="DATE" property="endDate" />
		<result column="resource_id" jdbcType="BIGINT" property="resourceId" />
		<result column="role_id" jdbcType="BIGINT" property="roleId" />
	</resultMap>
	<sql id="Base_Column_List">
		process_Id,Interface_Type,Doc_Num,Event_Id,Pb_Code,EBS_Org_Code,Farm_Code,Biz_Date,Nlbp_Order_No,Transaction_Type,Primary_Uom_Qty,
		Second_Uom_Qty,order_Type,EBS_Order_No,Room_Code,Ear_Number,Sub_Inventroy_Code,Inventory_Item_Id,Conceive_Status,Batch_Number,
		Bird_Check,Breed_Date,Uper_Stage,Total_Record_Count,Handler_Status,Handler_Count,Process_Code,Process_Message,Creation_Date,
		Created_by,Last_Update_Date,Last_Update_by,price,org_code,nlbp_purch_order,ebs_purch_order,Expand1,Expand2,Expand3,Expand4,Expand5,
		Expand6,Expand7,Expand8,Expand9,Expand10
	</sql>

	<sql id="Try_Condition1">
		<if test="try != null">
		    <![CDATA[
		  		and Handler_Count < 4
		  	]]>
		</if>
		<if test="reTry != null">
		    <![CDATA[
		  		and Handler_Count > 3 and Handler_Count < 11
		  	]]>
		</if>
	</sql>

	<sql id="Try_Condition2">
		<if test="try != null">
		    <![CDATA[
		 		AND Handler_Count < 4
		 	]]>
		</if>
		<if test="reTry != null">
		    <![CDATA[
		 		AND Handler_Count > 3 AND Handler_Count < 11
		 	]]>
		</if>
	</sql>

	<sql id="Check_Condition">
		<if test="try != null">
		    <![CDATA[
		  		AND process.Handler_Count < 4
		  	]]>
		</if>
		<if test="reTry != null">
		    <![CDATA[
		  		AND process.Handler_Count > 3
		  	]]>
		</if>
	</sql>

	<select id="getForemostWorkOrderNos" parameterType="java.util.Map"
		resultType="java.util.Map">
		select Nlbp_Order_No as nlbpOrderNo,Expand1 as expand1 from
		nlbp_sys_order_process where Handler_Status is not null and
		Handler_Status !='S' and Handler_Status !='P'
		<include refid="Try_Condition1" />
		group by Nlbp_Order_No,Expand1 order by Expand5, process_Id limit 100
	</select>

	<select id="getErrorRecords" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select
		process.process_Id,process.Nlbp_Order_No
		from
		nlbp_sys_order_process as process, nlbp_sys_order as ord
		where
		process.Nlbp_Order_No = ord.Nlbp_Order_No and process.Expand1 =
		ord.Expand1
		<if test="nlbpOrderNo != null and nlbpOrderNo != ''">
			AND process.Nlbp_Order_No =
			#{nlbpOrderNo,jdbcType=VARCHAR}
		</if>
		<if test="expand1 != null and expand1 != ''">
			AND process.Expand1 = #{expand1,jdbcType=VARCHAR}
		</if>
		<if test="checkCodes != null">
			AND process.Interface_Type in
			<foreach item="item" index="index" collection="checkCodes"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		AND process.Handler_Status ='E'
		AND ord.EBS_Order_No is not null AND
		ord.EBS_Order_No !=''
		<include refid="Check_Condition" />
		order by process.process_Id ASC
	</select>

	<select id="getProcessingStatusRecordsForPipeline"
		parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from nlbp_sys_order_process
		where 1 = 1
		<if test="nlbpOrderNo != null and nlbpOrderNo != ''">
			AND Nlbp_Order_No = #{nlbpOrderNo,jdbcType=VARCHAR}
		</if>
		<if test="expand1 != null and expand1 != ''">
			AND Expand1 = #{expand1,jdbcType=VARCHAR}
		</if>
		AND Handler_Status ='P'
		<include refid="Try_Condition2" />
		order by process_Id ASC
	</select>

	<update id="updateOrderProcess2ProcessingStatusForStage"
		parameterType="java.util.Map">
		update nlbp_sys_order_process
		<set>
			Handler_Status = 'P',
			Last_Update_by = 'APIGate',
			<if test="lastUpdateDate != null">
				last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
			</if>
		</set>
		where Nlbp_Order_No = #{nlbpOrderNo,jdbcType=VARCHAR} and Expand1 =
		#{expand1,jdbcType=VARCHAR}
		<include refid="Try_Condition1" />
		and Handler_Status is not null
		and Handler_Status !='S' and
		Handler_Status !='P'
	</update>

	<update id="batchUpdateAllRecordsStatusForPipeline"
		parameterType="java.util.Map">
		<foreach collection="orderProcessList" item="item" index="index"
			open="" close="" separator=";">
			UPDATE nlbp_sys_order_process
			<set>
				nlbp_order_no = #{item.nlbpOrderNo},
				ebs_order_no = #{item.ebsOrderNo},
				handler_status = #{item.handlerStatus},
				handler_count = #{item.handlerCount},
				process_code = #{item.processCode},
				process_message = #{item.processMessage},
				last_update_date = #{item.lastUpdateDate},
				last_update_by = #{item.lastUpdateBy},
				price=#{item.price},
				org_code=#{item.orgCode},
				nlbp_purch_order=#{item.nlbpPurchOrder},
				ebs_purch_order=#{item.ebsPurchOrder},
				expand1 = #{item.expand1},
				expand2 = #{item.expand2},
				expand3 = #{item.expand3},
				expand4 = #{item.expand4},
				expand5 = #{item.expand5},
				expand6 = #{item.expand6},
				expand7 = #{item.expand7},
				expand8 = #{item.expand8},
				expand9 = #{item.expand9},
				expand10 = #{item.expand10},				
				attribute1 = #{item.attribute1},
				attribute2 = #{item.attribute2},
				attribute3 = #{item.attribute3},
				attribute4 = #{item.attribute4},
				attribute5 = #{item.attribute5}
			</set>
			where process_id = #{item.processId}
		</foreach>
	</update>
	
	<!-- 未来可以优化，暂时放到此处  start-->
	<select id="selectTypeinfor"  parameterType="java.lang.Integer" resultType="java.util.Map">
		select attribute5,ebs_org_id,ebs_org_name,ebs_org_code,attribute1,attribute4
		from nlbp_sys_org_ebs
		where ebs_org_id = #{ebsOrgId,jdbcType=INTEGER}
	</select>

	<select id="SelectItemCreateUsed" resultType="java.util.Map">
		SELECT
		DISTINCT(m.number), m.`name`,
		m.organization_code,o.ebs_org_id,o.attribute4,o.ebs_org_id, o.ebs_org_code FROM
		nlbp_sys_material m , nlbp_sys_org_ebs o where
		m.organization_code=o.ebs_org_name and m.number = #{0} and
		o.ebs_org_id=#{1}
	</select>
	
	<insert id="insertSysTranstionManagement" parameterType="com.newhope.nlbp.common.model.NlbpSysTranstionManagementModel">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
		INSERT INTO nlbp_sys_transtion_management(
			id,
			sub_code,
			org_id,
			work_order,
			batch_num,
			item_code,
			trx_type,
			trx_date,
			pb_status,
			primary_qty,
			second_qty,
			ou_code,
			uperstage,
			breeddate
		) VALUES (
			#{id},
			#{subCode},
			#{orgId},
			#{workOrder},
			#{batchNum},
			#{itemCode},
			#{trxType},
			#{trxDate},
			#{pbStatus},
			#{primaryQty},
			#{secondQty},
			#{ouCode},
			#{uperstage},
			#{breeddate}
		)
	</insert>
	<!-- 未来可以优化，暂时放到此处  end-->
</mapper>