<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.nlbp.core.apigate.dao.NlbpSysOrderProcessInterfaceDao">
      
	<sql id="nlbpSysOrderProcessInterfaceColumns">
		a.process_id AS "processId",
		a.interface_type AS "interfaceType",
		a.doc_num AS "docNum",		
		a.ebs_order_no AS "ebsOrderNo",
		a.order_type AS "orderType",
		a.event_id AS "eventId",
		a.biz_date AS "bizDate",  
		a.handler_status AS "handlerStatus",
		a.process_message AS "processMessage",
		a.ebs_org_code AS "ebsOrgCode",
		a.ear_number AS "earNumber",
		a.batch_number AS "batchNumber",
		a.transaction_type AS "transactionType",
		a.primary_uom_qty AS "primaryUomQty",
		a.second_uom_qty AS "secondUomQty",
		a.farm_code AS "farmCode",
		a.room_code AS "roomCode",
		a.sub_inventroy_code AS "subInventroyCode",
		a.inventory_item_id AS "inventoryItemId",  <!-- 物料代码 -->
		mat.name AS "materialName",
		a.bird_check AS "birdCheck",
		a.breed_date AS "breedDate",
		a.handler_count AS "handlerCount",
		DATE_FORMAT(a.creation_date,' %Y-%m-%d %T') as creationDate,
		a.created_by AS "createdBy",
		<!-- a.expand1 AS "expand1"  -->  <!-- 组织代码 -->
		org.name AS "orgnizationName"

	</sql>
	
	<sql id="nlbpSysOrderProcessInterfacePigColumns">
		a.process_id AS "processId",
			(CASE a.interface_type
	      		WHEN 'T' THEN '工单事务处理'
	     		WHEN 'FB' THEN '禽专用工单关闭'
				WHEN 'N' THEN '创建工单'
				WHEN 'F' THEN '关闭工单'
				WHEN 'HS' THEN '配怀状态更新'
				WHEN 'CB' THEN '禽专用取消工单'
				WHEN 'CP' THEN '猪专用取消工单'
				WHEN 'O' THEN '重新打开工单'
				WHEN 'OB' THEN '禽专用重新打开工单'
				WHEN 'AP' THEN '猪专用采购申请'
				WHEN 'AB' THEN '禽专用采购申请'
				WHEN 'AC' THEN '采购申请取消'
				WHEN 'SIO' THEN '其他出入库'
      		 END
			) AS "interfaceType",
		a.doc_num AS "docNum",		
		a.ebs_order_no AS "ebsOrderNo",
		(case a.order_type
		WHEN '16000011' THEN '养猪-采精工单'
		WHEN '16000012' THEN '养猪-配怀工单'
		WHEN '16000013' THEN '养猪-哺乳工单'
		WHEN '16000014' THEN '养猪-保育工单'
		WHEN '16000015' THEN '养猪-育肥工单'
		WHEN '16000016' THEN '养猪-放养工单'
		WHEN '16000018' THEN '养猪-转换工单'
		WHEN '16000019' THEN '养猪-后备工单'
		WHEN '16000020' THEN '养猪-后备转场工单'
		WHEN '99000001' THEN '其他'	
		END) AS "orderType",  
		a.event_id AS "eventId",
		
		a.biz_date AS "bizDate",
		a.price AS "price",
		a.EBS_purch_order AS "ebsPurchOrder",
		a.nlbp_purch_order AS "nlbpPurchOrder",
		a.org_code AS "orgCode",
		
		  
		(CASE a.handler_status
			WHEN 'S' THEN '成功'
			WHEN 'P' THEN '处理中'
			WHEN 'E' THEN '报错'
			WHEN 'W' THEN '待处理'
    	END) AS "handlerStatus",
		a.process_message AS "processMessage",
		a.ebs_org_code AS "ebsOrgCode",
		a.Expand6 AS "ebsIORepertory",  <!-- ebs出入库单号 -->
		a.Expand7 AS "nlbpIORepertory",  <!-- 养殖平台出入库单号 -->
			
		
		oe.ebs_org_name AS "ebsOrgName",		
		<!-- a.EBS_Org_Code AS "ebsOrgName",    ebs组织名称,通过map对象 根据code从EBS组织表中获取name -->
		a.ear_number AS "earNumber",
		a.Pb_Code as "pbCode",     <!-- 配怀状态 -->
		a.batch_number AS "batchNumber",
		a.transaction_type AS "transactionType",
		a.primary_uom_qty AS "primaryUomQty",		
		a.second_uom_qty AS "secondUomQty",
		hog.`name` AS "farmCode",      <!--猪场编码，显示汉字 -->
		
		a.room_code AS "roomCode",
		a.sub_inventroy_code AS "subInventroyCode",<!-- 子库存编号 -->
		wh.`name` AS "subInventroyName", 
		a.inventory_item_id AS "inventoryItemId", 
		mat.name AS "materialName",		
		a.bird_check AS "birdCheck",
		a.breed_date AS "breedDate",
		a.handler_count AS "handlerCount",
		
		
		DATE_FORMAT(a.creation_date,'%Y-%m-%d %H:%i:%s') as creationDate,
		a.created_by AS "createdBy",
		a.nlbp_order_no AS "nlbpOrderNo",  <!-- 养殖平台工单号 -->
		DATE_FORMAT(a.last_update_date,'%Y-%m-%d %H:%i:%s') as lastUpdateDate,
		org.name AS "orgnizationName", 
		(CASE a.Expand5
			WHEN 'YZ_PIG' THEN '养猪业务'
			WHEN 'YZ_DUCK' THEN '种鸭业务'
			WHEN 'YZ_CHOOK' THEN '种鸡业务'
		END )AS "bizType"  <!-- 业务类型：养猪/种禽，7-5新增显示 -->
		
	</sql>
	
	<sql id="nlbpSysOrderProcessInterfaceBirdColumns">
			a.process_id AS "processId",
			(	CASE a.interface_type
			    WHEN 'T' THEN '工单事务处理'
			    WHEN 'FB' THEN '禽专用工单关闭'
					WHEN 'N' THEN '创建工单'
					WHEN 'F' THEN '关闭工单'
					WHEN 'HS' THEN '配怀状态更新'
					WHEN 'CB' THEN '禽专用取消工单'
					WHEN 'CP' THEN '猪专用取消工单'
					WHEN 'O' THEN '重新打开工单'
					WHEN 'OB' THEN '禽专用重新打开工单'
					WHEN 'AP' THEN '猪专用采购申请'
					WHEN 'AB' THEN '禽专用采购申请'
					WHEN 'AC' THEN '采购申请取消'
					WHEN 'SIO' THEN '其他出入库'
       			END
			) AS "interfaceType",
			a.doc_num AS "docNum",		
			a.ebs_order_no AS "ebsOrderNo",
			(CASE a.order_type 
				WHEN '16000031' THEN '育雏育成工单'
				WHEN '16000032' THEN '产蛋工单'
				WHEN '16000033' THEN '转换工单'
				WHEN '16000034' THEN '孵化工单'
				WHEN '16000033' THEN '作废'  
				WHEN '99000001' THEN '其他'
			END)AS "orderType",
			
			a.event_id AS "eventId",
			a.biz_date AS "bizDate",  
			(CASE a.handler_status
				WHEN 'S' THEN '成功'
				WHEN 'P' THEN '处理中'
				WHEN 'E' THEN '报错'
				WHEN 'W' THEN '待处理'
	    	END) AS "handlerStatus",
			a.process_message AS "processMessage",
			a.ebs_org_code AS "ebsOrgCode",
			
			a.EBS_purch_order AS "ebsPurchOrder",
			a.nlbp_purch_order AS "nlbpPurchOrder",
			a.org_code AS "orgCode",
		 	a.Expand6 AS "ebsIORepertory",
		 	a.Expand7 AS "nlbpIORepertory",
			
			oe.ebs_org_name AS "ebsOrgName",			
			a.ear_number AS "earNumber",
			a.Pb_Code as "pbCode",     <!-- 配怀状态 -->
			a.batch_number AS "batchNumber",
			a.transaction_type AS "transactionType",
			a.primary_uom_qty AS "primaryUomQty",
			
			a.second_uom_qty AS "secondUomQty",
			farm.farm_name AS "farmCode",			
			a.room_code AS "roomCode",
			a.sub_inventroy_code AS "subInventroyCode", 
			wh.`name` AS "subInventroyName",    <!-- 子库存名 -->    
			
			a.inventory_item_id AS "inventoryItemId", 			 
			mat.name AS "materialName",
			a.bird_check AS "birdCheck",
			a.breed_date AS "breedDate",
			a.handler_count AS "handlerCount",
			
			DATE_FORMAT(a.creation_date,'%Y-%m-%d %H:%i:%s') as creationDate,
			a.created_by AS "createdBy",
			a.nlbp_order_no AS "nlbpOrderNo", <!-- 养殖平台虚拟工单号 -->
			DATE_FORMAT(a.last_update_date,'%Y-%m-%d %H:%i:%s') as lastUpdateDate,
			org.name AS "orgnizationName",
			(CASE a.Expand5
				WHEN 'YZ_PIG' THEN '养猪业务'
				WHEN 'YZ_DUCK' THEN '种鸭业务'
				WHEN 'YZ_CHOOK' THEN '种鸡业务'
			END )AS "bizType" 
	</sql>
		
	<sql id="nlbpSysOrderProcessInterfaceJoins">
	</sql>
    
	<select id="selectByPrimaryKey" resultType="com.newhope.nlbp.common.model.NlbpSysOrderProcessInterfaceModel">
		SELECT 
			<include refid="nlbpSysOrderProcessInterfaceColumns"/>
		FROM nlbp_sys_order_process a
			left join nlbp_sys_org org on a.expand1 = org.id
			left join nlbp_sys_material mat on a.inventory_item_id = mat.number
			LEFT JOIN nlbp_sys_org_ebs oe ON oe.ebs_org_code = a.ebs_org_code
			LEFT JOIN nlbp_pig_hogpen hog ON hog.number = a.Farm_Code
			LEFT JOIN nlbp_pig_warehouse wh ON wh.number = a.Sub_Inventroy_Code
			<include refid="nlbpSysOrderProcessInterfaceJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="selectByProcessId" resultType="com.newhope.nlbp.common.model.NlbpSysOrderProcessInterfaceModel">
		SELECT 
			<include refid="nlbpSysOrderProcessInterfaceColumns"/>
		FROM nlbp_sys_order_process a
			
		<if test="processIds != null and processIds != ''">
		WHERE a.id IN #{processIds}
		</if>
	</select>

	<select id="searchListPigByPage" resultType="com.newhope.nlbp.common.model.NlbpSysOrderProcessInterfaceModel">
		SELECT DISTINCT
			<include refid="nlbpSysOrderProcessInterfacePigColumns"/>
				FROM nlbp_sys_order_process a
				left join nlbp_sys_material mat on a.inventory_item_id = mat.number
				left join nlbp_sys_org org on a.expand1 = org.id
				LEFT JOIN nlbp_sys_org_ebs oe ON oe.ebs_org_code = a.ebs_org_code
				LEFT JOIN nlbp_pig_hogpen hog ON hog.number = a.Farm_Code
				LEFT JOIN nlbp_pig_warehouse wh ON wh.number = a.Sub_Inventroy_Code 
			<include refid="nlbpSysOrderProcessInterfaceJoins"/>
		<where>
			
			<if test="interfaceType != null and interfaceType != ''">
				AND a.interface_type = #{interfaceType}
			</if>
			<if test="docNum != null and docNum != ''">
				AND a.doc_num = #{docNum}
			</if>
			<if test="eventId != null and eventId != ''">
				AND a.event_id = #{eventId}
			</if>
			<if test="pbCode != null and pbCode != ''">
				AND a.pb_code = #{pbCode}
			</if>
			<if test="ebsOrgCode != null and ebsOrgCode != ''">
				AND a.ebs_org_code = #{ebsOrgCode}
			</if>
			<if test="farmCode != null and farmCode != ''">
				AND a.farm_code = #{farmCode}
			</if>
			<if test="bizDate != null and bizDate != ''">
				AND a.biz_date = #{bizDate}
			</if>
			<if test="nlbpOrderNo != null and nlbpOrderNo != ''">
				AND a.nlbp_order_no = #{nlbpOrderNo}
			</if>
			
			<if test="nlbpIORepertory != null and nlbpIORepertory != ''">
				AND a.expand7 = #{nlbpIORepertory}
			</if>
			<if test="nlbpPurchOrder != null and nlbpPurchOrder != ''">
				AND a.nlbp_purch_order = #{nlbpPurchOrder}
			</if>
			
			<if test="transactionType != null and transactionType != ''">
				AND a.transaction_type = #{transactionType}
			</if>
			<if test="primaryUomQty != null and primaryUomQty != ''">
				AND a.primary_uom_qty = #{primaryUomQty}
			</if>
			<if test="secondUomQty != null and secondUomQty != ''">
				AND a.second_uom_qty = #{secondUomQty}
			</if>
			<if test="orderType != null and orderType != ''">
				AND a.order_type = #{orderType}
			</if>
			<if test="ebsOrderNo != null and ebsOrderNo != ''">
				AND a.ebs_order_no = #{ebsOrderNo}
			</if>
			<if test="roomCode != null and roomCode != ''">
				AND a.room_code = #{roomCode}
			</if>
			<if test="earNumber != null and earNumber != ''">
				AND a.ear_number = #{earNumber}
			</if>
			<if test="subInventroyCode != null and subInventroyCode != ''">
				AND a.sub_inventroy_code = #{subInventroyCode}
			</if>
			<if test="inventoryItemId != null and inventoryItemId != ''">
				AND a.inventory_item_id = #{inventoryItemId}
			</if>
			<if test="conceiveStatus != null and conceiveStatus != ''">
				AND a.conceive_status = #{conceiveStatus}
			</if>
			<if test="batchNumber != null and batchNumber != ''">
				AND a.batch_number = #{batchNumber}
			</if>
			<if test="birdCheck != null and birdCheck != ''">
				AND a.bird_check = #{birdCheck}
			</if>
			<if test="breedDate != null and breedDate != ''">
				AND a.breed_date = #{breedDate}
			</if>
			<if test="uperStage != null and uperStage != ''">
				AND a.uper_stage = #{uperStage}
			</if>
			<if test="totalRecordCount != null and totalRecordCount != ''">
				AND a.total_record_count = #{totalRecordCount}
			</if>
			<if test="handlerStatus != null and handlerStatus != ''">
				AND a.handler_status = #{handlerStatus}
			</if>
			<if test="handlerCount != null and handlerCount != ''">
				AND a.handler_count = #{handlerCount}
			</if>
			<if test="processCode != null and processCode != ''">
				AND a.process_code = #{processCode}
			</if>
			<if test="processMessage != null and processMessage != ''">
				AND a.process_message = #{processMessage}
			</if>
			<if test="creationDate != null and creationDate != ''">
				AND a.creation_date = #{creationDate}
			</if>
			<if test="createdBy != null and createdBy != ''">
				AND a.created_by = #{createdBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				AND a.last_update_date = #{lastUpdateDate}
			</if>
			<if test="lastUpdateBy != null and lastUpdateBy != ''">
				AND a.last_update_by = #{lastUpdateBy}
			</if>
			<if test="organizationId != null and organizationId != ''">
				AND a.expand1 = #{organizationId}
			</if>
			<!-- 日期查询条件 -->
			<if test="queryStartDate != null and queryStartDate != ''">
	 	        <![CDATA[
		    	AND a.biz_date>= #{queryStartDate}
		        ]]>
	 	    </if>
		    <if test="queryEndDate != null and queryEndDate != ''">
	 	        <![CDATA[
		    	AND a.biz_date <= #{queryEndDate}
		        ]]>
	 	    </if>
			
		</where>
		
		ORDER BY processId desc;
	</select>
		
	<select id="searchListBirdByPage" resultType="com.newhope.nlbp.common.model.NlbpSysOrderProcessInterfaceModel">
		SELECT DISTINCT
			<include refid="nlbpSysOrderProcessInterfaceBirdColumns"/>
				FROM nlbp_sys_order_process a
				left join nlbp_sys_material mat on a.inventory_item_id = mat.number
				left join nlbp_sys_org org on a.expand1 = org.id
				LEFT JOIN nlbp_sys_org_ebs oe ON oe.ebs_org_code = a.ebs_org_code
				LEFT JOIN nlbp_bird_farm farm ON farm.farm_code = a.Farm_Code
				LEFT JOIN nlbp_bird_warehouse wh ON wh.number = a.Sub_Inventroy_Code
			<include refid="nlbpSysOrderProcessInterfaceJoins"/>
		<where>
			<if test="interfaceType != null and interfaceType != ''">
				AND a.interface_type = #{interfaceType}
			</if>
			<if test="docNum != null and docNum != ''">
				AND a.doc_num = #{docNum}
			</if>
			<if test="eventId != null and eventId != ''">
				AND a.event_id = #{eventId}
			</if>
			<if test="pbCode != null and pbCode != ''">
				AND a.pb_code = #{pbCode}
			</if>
			<if test="ebsOrgCode != null and ebsOrgCode != ''">
				AND a.ebs_org_code = #{ebsOrgCode}
			</if>
			<if test="farmCode != null and farmCode != ''">
				AND a.farm_code = #{farmCode}
			</if>
			<if test="bizDate != null and bizDate != ''">
				AND a.biz_date = #{bizDate}
			</if>
			<if test="nlbpOrderNo != null and nlbpOrderNo != ''">
				AND a.nlbp_order_no = #{nlbpOrderNo}
			</if>
			
			<if test="nlbpIORepertory != null and nlbpIORepertory != ''">
				AND a.expand7 = #{nlbpIORepertory}
			</if>
			<if test="nlbpPurchOrder != null and nlbpPurchOrder != ''">
				AND a.nlbp_purch_order = #{nlbpPurchOrder}
			</if>
			<if test="transactionType != null and transactionType != ''">
				AND a.transaction_type = #{transactionType}
			</if>
			<if test="primaryUomQty != null and primaryUomQty != ''">
				AND a.primary_uom_qty = #{primaryUomQty}
			</if>
			<if test="secondUomQty != null and secondUomQty != ''">
				AND a.second_uom_qty = #{secondUomQty}
			</if>
			<if test="orderType != null and orderType != ''">
				AND a.order_type = #{orderType}
			</if>
			<if test="ebsOrderNo != null and ebsOrderNo != ''">
				AND a.ebs_order_no = #{ebsOrderNo}
			</if>
			<if test="roomCode != null and roomCode != ''">
				AND a.room_code = #{roomCode}
			</if>
			<if test="earNumber != null and earNumber != ''">
				AND a.ear_number = #{earNumber}
			</if>
			<if test="subInventroyCode != null and subInventroyCode != ''">
				AND a.sub_inventroy_code = #{subInventroyCode}
			</if>
			<if test="inventoryItemId != null and inventoryItemId != ''">
				AND a.inventory_item_id = #{inventoryItemId}
			</if>
			<if test="conceiveStatus != null and conceiveStatus != ''">
				AND a.conceive_status = #{conceiveStatus}
			</if>
			<if test="batchNumber != null and batchNumber != ''">
				AND a.batch_number = #{batchNumber}
			</if>
			<if test="birdCheck != null and birdCheck != ''">
				AND a.bird_check = #{birdCheck}
			</if>
			<if test="breedDate != null and breedDate != ''">
				AND a.breed_date = #{breedDate}
			</if>
			<if test="uperStage != null and uperStage != ''">
				AND a.uper_stage = #{uperStage}
			</if>
			<if test="totalRecordCount != null and totalRecordCount != ''">
				AND a.total_record_count = #{totalRecordCount}
			</if>
			<if test="handlerStatus != null and handlerStatus != ''">
				AND a.handler_status = #{handlerStatus}
			</if>
			<if test="handlerCount != null and handlerCount != ''">
				AND a.handler_count = #{handlerCount}
			</if>
			<if test="processCode != null and processCode != ''">
				AND a.process_code = #{processCode}
			</if>
			<if test="processMessage != null and processMessage != ''">
				AND a.process_message = #{processMessage}
			</if>
			<if test="creationDate != null and creationDate != ''">
				AND a.creation_date = #{creationDate}
			</if>
			<if test="createdBy != null and createdBy != ''">
				AND a.created_by = #{createdBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				AND a.last_update_date = #{lastUpdateDate}
			</if>
			<if test="lastUpdateBy != null and lastUpdateBy != ''">
				AND a.last_update_by = #{lastUpdateBy}
			</if>
			<if test="organizationId != null and organizationId != ''">
				AND a.expand1 = #{organizationId}
			</if>
			<!-- 日期查询条件 -->
			<if test="queryStartDate != null and queryStartDate != ''">
	 	        <![CDATA[
		    	AND a.biz_date>= #{queryStartDate}
		        ]]>
	 	    </if>
		    <if test="queryEndDate != null and queryEndDate != ''">
	 	        <![CDATA[
		    	AND a.biz_date <= #{queryEndDate}
		        ]]>
	 	    </if>
			
		</where>
		ORDER BY processId desc;
	</select>
	
	<update id="updateByProcessIdSelective" parameterType="java.util.Map" >
		UPDATE nlbp_sys_order_process
		<set>	
				
		<if test="handlerStatus != null">					
			handler_status = #{handlerStatus},
		</if>
		<if test="handlerCount != null">					
			handler_count = #{handlerCount},
		</if>						
			process_message = ''
		</set>
		<where>
			<if test="processIds != null">
        	process_Id in 
			<foreach item="item" index="index" collection="processIds" open="(" separator="," close=")">  
		 		 #{item} 
			</foreach> 
			</if>
		</where>
	</update>
	
	<update id="deleteByPrimaryKey">
		DELETE FROM nlbp_sys_order_process
		WHERE id = #{id,jdbcType=BIGINT}
	</update>
	
</mapper>