<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newhope.nlbp.core.apigate.dao.NlbpSysOrderDao">
    
	<sql id="nlbpSysOrderColumns">
		a.order_id AS "orderId",
		a.order_type AS "orderType",
		a.nlbp_order_no AS "nlbpOrderNo",
		a.ebs_order_no AS "ebsOrderNo",
		a.inventory_item_id AS "inventoryItemId",
		a.order_status AS "orderStatus",
		a.batch_number AS "batchNumber",
		a.ear_number AS "earNumber",
		a.biz_date AS "bizDate",
		a.complete_date AS "completeDate",
		a.creation_date AS "creationDate",
		a.created_by AS "createdBy",
		a.last_update_date AS "lastUpdateDate",
		a.last_update_by AS "lastUpdateBy",
		a.expand1 AS "expand1",
		a.expand2 AS "expand2",
		a.expand3 AS "expand3",
		a.expand4 AS "expand4",
		a.expand5 AS "expand5"
	</sql>
	
	<sql id="nlbpSysOrderJoins">
	</sql>
    
	<select id="selectByPrimaryKey" resultType="com.newhope.nlbp.core.apigate.bean.NlbpSysOrderModel">
		SELECT 
			<include refid="nlbpSysOrderColumns"/>
		FROM nlbp_sys_order a
		<include refid="nlbpSysOrderJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="com.newhope.nlbp.core.apigate.bean.NlbpSysOrderModel">
		SELECT 
			<include refid="nlbpSysOrderColumns"/>
		FROM nlbp_sys_order a
		<include refid="nlbpSysOrderJoins"/>
		<where>
			
			<if test="orderId != null and orderId != ''">
				AND a.order_id = #{orderId}
			</if>
			<if test="orderType != null and orderType != ''">
				AND a.order_type = #{orderType}
			</if>
			<if test="nlbpOrderNo != null and nlbpOrderNo != ''">
				AND a.nlbp_order_no = #{nlbpOrderNo}
			</if>
			<if test="ebsOrderNo != null and ebsOrderNo != ''">
				AND a.ebs_order_no = #{ebsOrderNo}
			</if>
			<if test="inventoryItemId != null and inventoryItemId != ''">
				AND a.inventory_item_id = #{inventoryItemId}
			</if>
			<if test="orderStatus != null and orderStatus != ''">
				AND a.order_status = #{orderStatus}
			</if>
			<if test="batchNumber != null and batchNumber != ''">
				AND a.batch_number = #{batchNumber}
			</if>
			<if test="earNumber != null and earNumber != ''">
				AND a.ear_number = #{earNumber}
			</if>
			<if test="bizDate != null and bizDate != ''">
				AND a.biz_date = #{bizDate}
			</if>
			<if test="completeDate != null and completeDate != ''">
				AND a.complete_date = #{completeDate}
			</if>
			<if test="creationDate != null and creationDate != ''">
				AND a.creation_date = #{creationDate}
			</if>
			<if test="createdBy != null and createdBy != ''">
				AND a.created_by = #{createdBy}
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				AND a.last_update_date = #{lastUpdateDate}
			</if>
			<if test="lastUpdateBy != null and lastUpdateBy != ''">
				AND a.last_update_by = #{lastUpdateBy}
			</if>
		</where>
		<!--
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		-->
	</select>
	
	<select id="findAllList" resultType="com.newhope.nlbp.core.apigate.bean.NlbpSysOrderModel">
		SELECT 
			<include refid="nlbpSysOrderColumns"/>
		FROM nlbp_sys_order a
		<include refid="nlbpSysOrderJoins"/>
		<where>
			
		</where>
		<!--		
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
			</otherwise>
		</choose>
		-->
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
	      SELECT LAST_INSERT_ID()
	    </selectKey>
		INSERT INTO nlbp_sys_order(
			order_id,
			order_type,
			nlbp_order_no,
			ebs_order_no,
			inventory_item_id,
			order_status,
			batch_number,
			ear_number,
			biz_date,
			complete_date,
			creation_date,
			created_by,
			last_update_date,
			last_update_by,
			expand1,
			expand2,
			expand3,
			expand4,
			expand5
		) VALUES (
			#{orderId},
			#{orderType},
			#{nlbpOrderNo},
			#{ebsOrderNo},
			#{inventoryItemId},
			#{orderStatus},
			#{batchNumber},
			#{earNumber},
			#{bizDate},
			#{completeDate},
			#{creationDate},
			#{createdBy},
			#{lastUpdateDate},
			#{lastUpdateBy},
			#{expand1},
			#{expand2},
			#{expand3},
			#{expand4},
			#{expand5}
		)
	</insert>
	
	<insert id="insertSelective" parameterType="com.newhope.nlbp.core.apigate.bean.NlbpSysOrderModel">
		INSERT INTO nlbp_sys_order
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="orderId != null  ">				
				order_id,
			</if>
			<if test="orderType != null  and orderType != '' ">				
				order_type,
			</if>
			<if test="nlbpOrderNo != null and nlbpOrderNo != ''">				
				nlbp_order_no,
			</if>
			<if test="ebsOrderNo != null and ebsOrderNo != ''">				
				ebs_order_no,
			</if>
			<if test="inventoryItemId != null and inventoryItemId != ''">				
				inventory_item_id,
			</if>
			<if test="orderStatus != null and orderStatus != ''">				
				order_status,
			</if>
			<if test="batchNumber != null and batchNumber != ''">				
				batch_number,
			</if>
			<if test="earNumber != null and earNumber != ''">				
				ear_number,
			</if>
			<if test="bizDate != null">				
				biz_date,
			</if>
			<if test="completeDate != null">				
				complete_date,
			</if>
			<if test="creationDate != null">				
				creation_date,
			</if>
			<if test="createdBy != null ">				
				created_by,
			</if>
			<if test="lastUpdateDate != null">				
				last_update_date,
			</if>
			<if test="lastUpdateBy != null">				
				last_update_by,
			</if>
			<if test="expand1 != null and expand1 != ''">				
				expand1,
			</if>
			<if test="expand2 != null and expand2 != ''">				
				expand2,
			</if>
			<if test="expand3 != null and expand3 != ''">				
				expand3,
			</if>
			<if test="expand4 != null and expand4 != ''">				
				expand4,
			</if>
			<if test="expand5 != null and expand5 != ''">				
				expand5
	</if>
	</trim>
	<trim prefix="values (" suffix=")" suffixOverrides=",">
		<if test="orderId != null">
			#{orderId},
		</if>
		<if test="orderType != null and orderType != ''">
			#{orderType},
		</if>
		<if test="nlbpOrderNo != null and nlbpOrderNo != ''">
			#{nlbpOrderNo},
		</if>
		<if test="ebsOrderNo != null and ebsOrderNo != ''">
			#{ebsOrderNo},
		</if>
		<if test="inventoryItemId != null and inventoryItemId != ''">
			#{inventoryItemId},
		</if>
		<if test="orderStatus != null and orderStatus != ''">
			#{orderStatus},
		</if>
		<if test="batchNumber != null and batchNumber != ''">
			#{batchNumber},
		</if>
		<if test="earNumber != null and earNumber != ''">
			#{earNumber},
		</if>
		<if test="bizDate != null">
			#{bizDate},
		</if>
		<if test="completeDate != null">
			#{completeDate},
		</if>
		<if test="creationDate != null">
			#{creationDate},
		</if>
		<if test="createdBy != null">
			#{createdBy},
		</if>
		<if test="lastUpdateDate != null">
			#{lastUpdateDate},
		</if>
		<if test="lastUpdateBy != null">
			#{lastUpdateBy},
		</if>
		<if test="expand1 != null and expand1 != ''">
			#{expand1},
		</if>
		<if test="expand2 != null and expand2 != ''">
			#{expand2},
		</if>
		<if test="expand3 != null and expand3 != ''">
			#{expand3},
		</if>
		<if test="expand4 != null and expand4 != ''">
			#{expand4},
		</if>
		<if test="expand5 != null and expand5 != ''">
			#{expand5}
	</if>
		</trim>
	</insert>
	
	
	<insert id="insertBatch" useGeneratedKeys="true" parameterType="java.util.List">
		<selectKey resultType="long" keyProperty="id" order="AFTER">
			SELECT
			LAST_INSERT_ID()
		</selectKey>
		INSERT INTO nlbp_sys_order(
			order_id,
			order_type,
			nlbp_order_no,
			ebs_order_no,
			inventory_item_id,
			order_status,
			batch_number,
			ear_number,
			biz_date,
			complete_date,
			creation_date,
			created_by,
			last_update_date,
			last_update_by,
			expand1,
			expand2,
			expand3,
			expand4,
			expand5
		) VALUES 
		<foreach collection="list" item="item" index="index" separator="," >
		(
			#{item.orderId},
			#{item.orderType},
			#{item.nlbpOrderNo},
			#{item.ebsOrderNo},
			#{item.inventoryItemId},
			#{item.orderStatus},
			#{item.batchNumber},
			#{item.earNumber},
			#{item.bizDate},
			#{item.completeDate},
			#{item.creationDate},
			#{item.createdBy},
			#{item.lastUpdateDate},
			#{item.lastUpdateBy},
			#{item.expand1},
			#{item.expand2},
			#{item.expand3},
			#{item.expand4},
			#{item.expand5}
		)
		</foreach>
	</insert>
	
	<update id="updateByPrimaryKey">
		UPDATE nlbp_sys_order SET 	
			order_id = #{orderId},
			order_type = #{orderType},
			nlbp_order_no = #{nlbpOrderNo},
			ebs_order_no = #{ebsOrderNo},
			inventory_item_id = #{inventoryItemId},
			order_status = #{orderStatus},
			batch_number = #{batchNumber},
			ear_number = #{earNumber},
			biz_date = #{bizDate},
			complete_date = #{completeDate},
			creation_date = #{creationDate},
			created_by = #{createdBy},
			last_update_date = #{lastUpdateDate},
			last_update_by = #{lastUpdateBy},
			expand1 = #{expand1},
			expand2 = #{expand2},
			expand3 = #{expand3},
			expand4 = #{expand4},
			expand5 = #{expand5}
		WHERE id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.newhope.nlbp.core.apigate.bean.NlbpSysOrderModel">
		UPDATE nlbp_sys_order
		<set>	
		<if test="orderId != null">					
			order_id = #{orderId},
		</if>	
		<if test="orderType != null">					
			order_type = #{orderType},
		</if>	
		<if test="nlbpOrderNo != null">					
			nlbp_order_no = #{nlbpOrderNo},
		</if>	
		<if test="ebsOrderNo != null">					
			ebs_order_no = #{ebsOrderNo},
		</if>	
		<if test="inventoryItemId != null">					
			inventory_item_id = #{inventoryItemId},
		</if>	
		<if test="orderStatus != null">					
			order_status = #{orderStatus},
		</if>	
		<if test="batchNumber != null">					
			batch_number = #{batchNumber},
		</if>	
		<if test="earNumber != null">					
			ear_number = #{earNumber},
		</if>	
		<if test="bizDate != null">					
			biz_date = #{bizDate},
		</if>	
		<if test="completeDate != null">					
			complete_date = #{completeDate},
		</if>	
		<if test="creationDate != null">					
			creation_date = #{creationDate},
		</if>	
		<if test="createdBy != null">					
			created_by = #{createdBy},
		</if>	
		<if test="lastUpdateDate != null">					
			last_update_date = #{lastUpdateDate},
		</if>	
		<if test="lastUpdateBy != null">					
			last_update_by = #{lastUpdateBy},
		</if>	
		<if test="expand1 != null">					
			expand1 = #{expand1},
		</if>	
		<if test="expand2 != null">					
			expand2 = #{expand2},
		</if>	
		<if test="expand3 != null">					
			expand3 = #{expand3},
		</if>	
		<if test="expand4 != null">					
			expand4 = #{expand4},
		</if>	
		<if test="expand5 != null">					
			expand5 = #{expand5}
	</if>
		</set>
		WHERE order_id = #{orderId,jdbcType=BIGINT}
	</update>
	
	<update id="deleteByPrimaryKey">
		DELETE FROM nlbp_sys_order
		WHERE order_id = #{orderId,jdbcType=BIGINT}
	</update>
</mapper>